# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
Picture Hunt/Picture Hunt.xcworkspace/contents.xcworkspacedata
Picture Hunt/Pods/Manifest.lock
Picture Hunt/Pods/Pods.xcodeproj/project.pbxproj
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Info.plist
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt-acknowledgements.markdown
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt-acknowledgements.plist
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt-dummy.m
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt-frameworks.sh
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt-resources.sh
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt-umbrella.h
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt.debug.xcconfig
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt.modulemap
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt.release.xcconfig
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Info.plist
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests-acknowledgements.markdown
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests-acknowledgements.plist
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests-dummy.m
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests-frameworks.sh
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests-resources.sh
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests-umbrella.h
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests.debug.xcconfig
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests.modulemap
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests.release.xcconfig
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Info.plist
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests-acknowledgements.markdown
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests-acknowledgements.plist
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests-dummy.m
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests-frameworks.sh
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests-resources.sh
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests-umbrella.h
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests.debug.xcconfig
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests.modulemap
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests.release.xcconfig
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Info.plist
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Quickblox
Picture Hunt/Pods/QuickBlox/Quickblox.framework/strip-framework.sh
Picture Hunt/Pods/QuickBlox/Quickblox.framework/_CodeSignature/CodeResources
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/BaseServiceFramework.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/ChatDelegates.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/ChatEnums.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/ChatServiceFramework.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBASession.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBAuthHeader.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBCBlob.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBCBlobObjectAccess.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBCEntity.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBChat.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBChatAttachment.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBChatBusiness.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBChatClasses.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBChatDefinitions.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBChatDialog.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBChatHeader.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBChatMessage.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBCOCustomObject.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBCOFile.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBCOFileUploadInfo.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBConnection.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBContactList.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBContactListItem.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBContentEnums.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBContentHeader.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBCOPermissions.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBCore.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBCoreBusiness.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBCoreModels.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBCustomObjectsConsts.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBCustomObjectsEnums.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBCustomObjectsHeader.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBError.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBGeneralResponsePage.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBGeneric.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBLGeoData.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBLGeoDataFilter.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBLocationDefinitions.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBLocationEnums.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBLocationHeader.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBLocationStructs.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBLogger.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBLPlace.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBMEvent.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBMPushMessage.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBMPushMessageBase.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBMPushToken.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBMSubscription.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBMulticastDelegate.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBNullability.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBPrivacyItem.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBPrivacyList.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBPushNotificationsConsts.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBPushNotificationsDefinitions.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBPushNotificationsEnums.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBPushNotificationsHeader.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBRequest+QBAuth.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBRequest+QBChat.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBRequest+QBContent.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBRequest+QBCustomObjects.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBRequest+QBLocation.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBRequest+QBPushNotifications.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBRequest+QBUsers.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBRequest.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBRequestStatus.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBResponse.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBResponsePage.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBSession.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBSettings.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBUpdateUserParameters.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBUsersHeader.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/QBUUser.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Headers/Quickblox.h
Picture Hunt/Pods/QuickBlox/Quickblox.framework/Modules/module.modulemap
