# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
Picture Hunt/Picture Hunt.xcworkspace/contents.xcworkspacedata
Picture Hunt/Pods/Manifest.lock
Picture Hunt/Pods/Pods.xcodeproj/project.pbxproj
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Info.plist
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt-acknowledgements.markdown
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt-acknowledgements.plist
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt-dummy.m
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt-frameworks.sh
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt-resources.sh
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt-umbrella.h
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt.debug.xcconfig
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt.modulemap
Picture Hunt/Pods/Target Support Files/Pods-Picture Hunt/Pods-Picture Hunt.release.xcconfig
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Info.plist
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests-acknowledgements.markdown
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests-acknowledgements.plist
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests-dummy.m
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests-frameworks.sh
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests-resources.sh
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests-umbrella.h
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests.debug.xcconfig
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests.modulemap
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntTests/Pods-Picture HuntTests.release.xcconfig
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Info.plist
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests-acknowledgements.markdown
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests-acknowledgements.plist
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests-dummy.m
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests-frameworks.sh
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests-resources.sh
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests-umbrella.h
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests.debug.xcconfig
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests.modulemap
Picture Hunt/Pods/Target Support Files/Pods-Picture HuntUITests/Pods-Picture HuntUITests.release.xcconfig
